*{
    box-sizing: border-box;
}
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #A90506;
    line-height: 45px;
    color: #fff;
}
.header .icon{
    position: absolute;
    left: 0;
    width: 35px;
    font-size: 16px;
    padding-left: 20px;
}
.content{
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F3EFF0;
}
.content .list{
    position: relative;
}
.content .list li{
    display: flex;
    width: 90%;
    height: 43px;
    line-height: 43px;
    border-radius: 5px;
    margin: 15px  auto 0 auto;
    background: #fff;
    font-size: 12px;
}
.content .list .text{
    position: absolute;
    width: 90%;
    margin: 10px auto 0 auto;
    line-height: 20px;
    text-align: center;
    color: #f00;
    display: none;
}
.content .list li span{
    padding-left: 10px;
}
.content input{
    outline: none;
}
.content .registerBtn{
    margin: 92px auto 0 auto;
    width: 90%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: -1px -1px 2px #C60808,1px 1px 2px #C60808;
    background: #C60808;
}
.content .registerBtn .btn{
    background: #C60808;
    font-size: 16px;
    color: #fff;
}